<html>
<link rel="stylesheet" type="text/css" href="details.css">
<body>
<div class="form-style-5">
<form>
<fieldset>
<legend><span class="number">1</span> Details About Incident</legend>
Note:<input type="text" name="field1" placeholder="">
State:<input type="text" name="field2" placeholder=" ">
State Flag:
</fieldset>

<fieldset>
<legend><span class="number">2</span> Comments</legend>
    <textarea name="field3" placeholder="Please type here"></textarea>
</fieldset>
 <input type="submit" value="Apply" />
</form>
</div>
</body>
</html>